ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav ul li {
	display: inline-block;
}

.nav {
	float: right;
	font-family: arial, sans-serif;
    font-size: 14px;
}

.icon {
	height: 15px;
	width: 15px;
}

.noti {
	height: 15px;
	width: 15px;
}

.letter {
	height: 25px;
	width: 25px;
}

a {
	padding: 8px;
}

.google {
	margin: 0 auto;
	width: 17%;
	padding-top: 100px;
}

input {
	width: 40%;
	height: 30px;
	margin: 0 auto;
	display: block;
}


.search {
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
}

.botnav {
	bottom: 0;
	position: fixed;
}

.botnav ul li {
	display: inline-block;
}

.botnavleft {
	float: left;
}

.botnavright {
	float: right;
}